openapi: 3.1.0
info:
  title: Zoom Meeting API (Visioconference) Archiving Meetings API
  version: '2'
  description: 'The visioconference (video conferencing) ecosystem profiled in this index

    is anchored by the Zoom REST API. The Zoom API exposes endpoints for

    managing meetings, users, recordings, and archived files. All requests

    require an OAuth 2.0 access token (server-to-server OAuth or OAuth user

    flow) and are made against https://api.zoom.us/v2.

    '
  contact:
    name: Zoom Developer Docs
    url: https://developers.zoom.us/docs/api/
servers:
- url: https://api.zoom.us/v2
  description: Zoom API base URL
security:
- oauth2: []
tags:
- name: Meetings
paths:
  /users/{userId}/meetings:
    parameters:
    - name: userId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Meetings
      summary: List a user's meetings
      operationId: listUserMeetings
      responses:
        '200':
          description: Meetings list
    post:
      tags:
      - Meetings
      summary: Create a meeting
      operationId: createMeeting
      responses:
        '201':
          description: Created
  /meetings/{meetingId}:
    parameters:
    - name: meetingId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Meetings
      summary: Get a meeting
      operationId: getMeeting
      responses:
        '200':
          description: Meeting
    patch:
      tags:
      - Meetings
      summary: Update a meeting
      operationId: updateMeeting
      responses:
        '204':
          description: Updated
    delete:
      tags:
      - Meetings
      summary: Delete a meeting
      operationId: deleteMeeting
      responses:
        '204':
          description: Deleted
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 (server-to-server or user OAuth); access tokens valid for one hour
      flows:
        clientCredentials:
          tokenUrl: https://zoom.us/oauth/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://zoom.us/oauth/authorize
          tokenUrl: https://zoom.us/oauth/token
          scopes: {}
